* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-background: #c6e5d9;
    --color-white: #fff;
    --color-blue: #c6a49a;
    --color-hover: #e94e77;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    margin-top: 300px;
}

.container {
    background: #f4ead5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(233, 78, 119, 0.562);
    width: 500px;
}

h1 {
    text-align: center;
    color: var(--color-blue);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

required:hover {
    background-color: var(--color-hover);
}

input {
    padding: 8px;
    margin-top: 5px;
    color: var(--color-blue);
}

button {
    
    margin-top: 10px;
    margin-left: 3px;
    padding: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-hover);
    margin-left: 10px;
    align-items: center;
    padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    background: var(--color-white);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    background-color: var(--color-blue);
    margin-top: 20px;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
